
  ::selected{
    color: var(--textColorDark);
  }
  
#bodyAudioVisualizer{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Saira', sans-serif;
    position: relative;
    background-color: black;
    color: white;
  }
