#detailsSection {
    display: none;
    position: fixed;
    top: calc(100% - 90px);
    height: calc((100% - 90px) - 71px);
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    font-family: 'Luminari', sans-serif;
    z-index: 999;
    overflow: hidden;
    transform: translateY(0);
    margin-left: 101px; /* Pour que le contenu ne soit pas caché sous l'aside */

}

#coverBigPlayer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#aSuivre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 99%;
    overflow-y: scroll;
}

#aSuivre::-webkit-scrollbar {
    display: none;
}

#listeLectureTitre{
    text-align: center;
    max-height: 50px;
    margin: 0;
    padding: 0;
}

#bigCover{
    height: 80%;
    width: auto;
    margin-left: 50px;
}

#musiquesASuivre{
    list-style: none;
    white-space: nowrap;
    font-family: 'Luminari', sans-serif;
    margin: 0;
    padding: 0;
    width: auto;
}

#PlayMusiqueListeLecture{
    width: auto;
    display: flex;
    align-items: start;
}

#oneMusicListeLecture {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgb(56, 56, 56);
}

#oneMusicListeLecture:last-child {
    border: none;
}

.flexContainerListeLecture {
    display: flex;
    align-items: center;
    width: auto;
}

#coverBigPlayer {
    margin-right: 10px;
}

.imgListeLecture {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

#infoListeLecture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin-right: 100px;
}

#titleListe {
    font-size: 20px;
    margin: 0; /* Ajout d'une marge nulle pour éviter les marges par défaut */
    font-weight: bold;
    margin-left: -1px;
}

#artisteListe {
    margin: 0; /* Ajout d'une marge nulle pour éviter les marges par défaut */
}

