:root {
  --mouse-x: 50%;
  --mouse-y: 50%;
}

body {
    margin: 0;
    height: 100vh;
    max-width: 99%;
    background-color: black;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding-top: 50px;
}

/* #circle {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba(14, 108, 118, 0.75);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    filter: blur(50px);
    transition: top 0.05s, left 0.05s;
} */
  
main {
    width: 100%;
    height: 100vh;
    font-family: 'Luminari', sans-serif;
}

.sections_accueil{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 60px;
}
.infos_supp{
    flex-basis: 100%;
    margin-top: -20px;
    color: rgb(96, 96, 96);
    font-size: 18px;
    font-weight: bold;
}
h1{
    flex-basis: 100%;
    margin: 20px;
    color: white;
    font-size: 50px;
}
h2{
    flex-basis: 100%;
    margin: 20px;
    color: white;
    font-size: 40px;
}
h3{
    flex-basis: 100%;
    color: white;
    font-size: 25px;
}

a{
    text-decoration: none;
    color: white;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    width: 11%; 
    font-size: auto;
    flex-shrink: 0;
}
a:hover{
    transform: scale(1.02);
    opacity: 0.9;
}