:root {
  --mouse-x: 50%;
  --mouse-y: 50%;
}

body {
    margin: 0;
    height: 100vh;
    background-color: black;
    background-position: center center;
    background-size: cover;
    position: relative;
}

#circle {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba(14, 108, 118, 0.75);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: -1;
    filter: blur(50px);
    transition: top 0.05s, left 0.05s;
}
  
main {
    width: 100vw;
    height: 100vh;
    font-family: 'Luminari', sans-serif;
}

div{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    white-space: nowrap;
}
h1{
    flex-basis: 100%;
    margin: 20px;
    color: white;
    font-size: 50px;
}
h2{
    flex-basis: 100%;
    margin: 20px;
    color: white;
    font-size: 40px;
}
h3{
    flex-basis: 100%;
    color: white;
    font-size: 25px;
}

a{
    text-decoration: none;
    color: white;
    background-color: rgba(50, 50, 50);
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    width: 11%; 
    font-size: auto;
    flex-shrink: 0;
}

a:hover{
    transform: scale(1.01);
    opacity: 0.9;
}