#musiques{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

#musiques form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#barre_ajout{
    padding: 5px;
    padding-left: 10vw;
    margin: 10px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#musique {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#musiques h2 {
    color: #ffffff;
    font-size: 2em;
    text-align: center;
}

#note {
    display: flex;
    flex-direction: row;
}

#musiques #note {
    align-items: center;
    justify-content: center;
}

#ajout_note {
    color: gray;
}

#ajout_note.hover,
#ajout_note.active {
    color: gold;
}